%tr.track.node(class="level_#{ level }" id="track-#{ track.id }")

  %td.title(colspan="2" style="padding-left: #{ padding_left level }px;")
    %a.audio-control(href="#{ track.url }")= image 'blank.gif'

    - unless simple
      = link_to h(track.title), edit_admin_track_path(track.id)
    - else
      &= track.title

  - unless simple
    %td &nbsp
    %td.remove
      = link_to t('remove'), remove_admin_track_path(track.id)
  - else
    %td(colspan="2") &nbsp
