.form-area
  #audio_form_area
    %p
      %label(for="audio_track")=t 'file', :scope => 'audio-player.playlist.track'
      = form.file_field :track

    %p.title
      %label(for="audio_title")=t 'track', :count => 1, :scope => 'audio-player.playlist'
      = form.text_field 'title', :class => 'textbox', :maxlength => 255

    %p.description
      %label(for="audio_description")=t 'description', :scope => 'audio-player.playlist.track'
      = form.text_area 'description'
    
    %p
      %label(for="audio_filter")=t 'filter'
      %select(name="audio[filter]" id="audio_filter")
        = options_for_select [[t('select.none'), nil], *TextFilter.descendants.map { |f| f.filter_name }.sort], @audio.filter

%p.buttons
  = save_model_button @audio
  = save_model_and_continue_editing_button @audio
  = t('or')
  = link_to t('cancel'), admin_audio_index_path
