%tr.track.node.level_1(id="track-#{ track.id }")
  
  %td.title(style="padding-left: #{padding_left(1)}px;")
    = image 'audio_player/track'
    = link_to h(track.title), edit_admin_audio_path(:id => track.id)
    %audio(src="#{ track.track }")

  %td &nbsp
  %td.remove
    = link_to t('remove'), remove_admin_audio_path(track.id)
