- include_jplayer

.outset
  %table#audio.index(cellspacing="0" border="0" cellpadding="0")
    %thead
      %tr
        %th.title(colspan="2")=t 'title', :scope => 'audio-player'
        %th.modify(colspan="2")=t 'modify'

    %tbody
      %tr.playlist.node.level_0

        %td.title(style="padding-left: #{padding_left(0)}px;")
          = image 'blank.gif'
          Playlist

        %td
          .player

        %td.add_child= link_to t('new', :scope => 'audio-player.playlist.track'), new_admin_audio_path
        %td.remove= link_to t('remove'), not_found_path

      = render_tracks @audio
      - unless @audio.any?
        %tr
          %td.note(colspan="4")=t 'no_tracks', :scope => 'audio-player.playlist'

  #actions
    %ul
      %li= link_to "#{ image 'plus' } #{ t 'new', :scope => 'audio-player.playlist' }", not_found_path
